{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark mt-3">
        <img src="https://developers.google.com/identity/images/g-logo.png"
            style="width:20px; margin-right:8px;">
        Sign in with Google
    </a>
{% endblock %}