{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock %}

{% block  content%}

    <div class="container">
        <h1>Password Reset</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>Forgotten your password? Enter your email below to get an email to reset it.</p>
        <form accept="{% url 'account_reset_password' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
{% endblock %}